{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mb-4 mt-4 mx-auto border rounded pt-4">
            <h3 class="alert alert-light mb-4 mt-4 border rounded">Login Here</h3>
            <form action="{% url 'store:login' %}" method="POST"> 
                
                {% csrf_token %}

                {% if error %}

                <div class="alert alert-danger" role="alert"> {{error}}</div>
                {% endif %}
                
            
                <div class="form-group">
                    <label for="">E-mail</label>
                    <input type="email" required name="email" value = "{{values.email}}" class="form-control form-control-sm" id="" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control form-control-sm" id="" placeholder="*************">
                </div>
                <div class="form-group">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Login" >
                </div>
        </div>

    </div> 

</div>


{% endblock %}