{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border rounded">Create An Account</h3>
            <form action="{% url 'store:signup' %}" method="POST">
                {% csrf_token %}

                {% if error %}

                <div class="alert alert-danger" role="alert"> {{error}}</div>
                {% endif %}
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="first_name" value = "{{values.first_name}}" class="form-control form-control-sm" id="">
                </div>
                <div class="form-group">
                    <label for="">Last Nmae</label>
                    <input type="text" name="last_name" value = "{{values.last_name}}" class="form-control form-control-sm" id="">
                </div>
                <div class="form-group">
                    <label for="">Phone Number</label>
                    <input type="text" name="phone" value = "{{values.phone}}" class="form-control form-control-sm" id="" placeholder="03001234567">
                </div>
            
                <div class="form-group">
                    <label for="">E-mail</label>
                    <input type="email" required name="email" value = "{{values.email}}" class="form-control form-control-sm" id="" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control form-control-sm" id="" placeholder="*************">
                </div>
                <div class="form-group">
                    <input class="btn btn-sm btn-info" type="submit" value="Create An Account" >
                </div>
        </div>

    </div> 

</div>


{% endblock %}